@charset "UTF-8";

header {
	height: 70px;
	background-color: #dddddd;
}


.contents > .join-box {
	width: 300px;
}

.post > a {
	text-decoration: none;
	color: black;
}

.post > a:hover {
	color: gray;
}

footer {
	height: 70px;
	background-color: #dddddd;
}